<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Budge It</title>
  <!-- Latest compiled and minified CSS & JS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css" media="screen" title="no title">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<link href='node_modules/fullcalendar/dist/fullcalendar.css' rel='stylesheet' />
<link href='node_modules/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print' />
<script src='node_modules/jquery/dist/jquery.js'></script>
<script src='node_modules/moment/moment.js'></script>

<script src='dist/example.js'></script>
<script src='dist/app.js'></script>

  
</head>
<body>
  <div id='calendar'></div>
  {{{body}}}
</body>
</html>